.calendar-event {
    padding: 0.25rem;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: Helvetica, sans-serif;
    font-size: 0.7rem;

    background-color: red;
    color: whitesmoke;

    display: flex;
    justify-content: space-between;
}

.calendar-event:hover {
    white-space: wrap;
}

.calendar-event.blackout {
    background-color: black;
    color: white;
}

.calendar-event.match {
    background-color: lightblue;
    color: navy;
}

.calendar-event.new {
    background-color: white;
    border-style: dotted;
    border-color: lightcyan;
}

.calendar-event.new a {
    color: cornflowerblue;
    text-decoration: none;
}

.calendar-event *:hover {
    cursor: pointer;
}